<a id="nav-trigger" class=""><span class="icon-menu"></span></a>

<ul class="menu_top inline-list">
	<li class="facebook"><a href="#">Facebook</a></li>
	<li class="tumblr"><a href="#">Tumblr</a></li>
	<li class="instagram"><a href="#">Instagram</a></li>
	<li class="twitter"><a href="#">Twitter</a></li>
	<li class="soundcloud"><a href="#">Soundcloud</a></li>
</ul>
<ul class="menu_left no-bullet">
	<li class="statuses"><a href="#">Statuses</a></li>
	<li class="news"><a href="#">News</a></li>
	<li class="photos"><a href="#">Photos</a></li>
	<li class="videos"><a href="#">Videos</a></li>
	<li class="sounds"><a href="#">Sounds</a></li>
</ul>