<div class="section" data-provider="<%= source_service %>"  data-type="<%= type %>">	
	<div <% if(picture.url){ %> style="background-image:url('http://flux.inoui.io/images/?file=<%= picture.url %>&w=<%= thumbnail.w %>&h=<%= thumbnail.h %>')" class="story-content"  <% }else{ %> class="story-content no-bg"  <% }%>>
		<div class='icons'>
			<span class="entypo-social <%= source_service %>"></span> <%= dateFormat %> <%= popularity %> <span class="entypo heart"></span>
		</div>
		<div class="tint">
			<div class="hover">
				<div class='title'>
					<h2><span class="entypo-social <%= source_service %>"></span> <%= popularity %> <span class="entypo heart red"></span></h2>
					<ul class="likes">
				    <% _.each(recipients, function(obj, i) { %>
						<li><a href="http://instagram.com/<%= obj.username %>" target="_blank"><img src="<%= obj.profile_picture %>"/></a></li>
				    <%}); %>	
					</ul>
				</div>
			</div>			
		</div>	
	</div>
</div>
