<div class="section" data-provider="<%= source_service %>"  data-type="<%= type %>">	
	<div <% if(picture.url){ %> style="background-image:url('http://flux.inoui.io/images/?file=<%= picture.url %>&w=<%= thumbnail.w %>&h=<%= thumbnail.h %>')" class="story-content"  <% }else{ %> class="story-content no-bg"  <% }%>>

		<div class='icons'>
			<span class="entypo-social c-<%= source_service %>"></span> <%= dateFormat %> <%= popularity %> notes
		</div>
		<div class="tint">
			<div class="hover">
				<div class='title'><h2><span class="entypo-social c-<%= source_service %>"></span> <%= title %></h2></div>
				<p><%= message %></p>
			</div>			
		</div>	


	</div>

</div>